<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Marathon.Properties.Settings.up_smirnovConnection"
            connectionString="server=localhost;user id=root;database=up_smirnov"
            providerName="MySql.Data.MySqlClient" />
        <add name="Marathon.Properties.Settings.DBConnection" connectionString="server=localhost;user id=root;database=up_smirnov;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="Marathon.Properties.Settings.DBConnection1" connectionString="server=localhost;user id=root;password=qwerty;persistsecurityinfo=True;database=up_smirnov"
            providerName="MySql.Data.MySqlClient" />
        <add name="Marathon.Properties.Settings.Up_smirnov" connectionString="user id=root;password=qwerty;persistsecurityinfo=True;server=localhost;database=up_smirnov"
            providerName="MySql.Data.MySqlClient" />
        <add name="Marathon.Properties.Settings.test2Connect" connectionString="server=LocalHost;user id=root;password=qwerty;database=up_smirnov"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>